:root{
    --primary-theme-color:#20232a;
    --primary-theme-color:#282c34;
    --primary-text-color:#fff;
    --primary-highlight-color:61dafb;
    --primary-font-family:'arial';
    --padding-section:1.5rem;
    --padding-container:1rem;
    --max-width-container:640px;
    --letter-color-1:#00bef8;
    --letter-color-2:#ff0697;
    --letter-color-3:#ffe600;
    --letter-color-4:#bb00ff;
    --letter-color-5:#ff00ff;
    --letter-color-6:#ff0697;

}